@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,300;1,300&family=Oswald:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main {
  background-image: url('./assets/background.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden;
  z-index: 0;
}
.logo {
  height: 40px;
  width: 40px;
  margin-left: 40px;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-top: 10px;
  width: 80vw;
  margin-left: auto;
  margin-right: auto;
}
.nav-items {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  width: 300px;
  margin-top: 20px;
  color: white;
  list-style: none;
  font-size: .87rem;
  font-family: "Lato:ital";
}
a {
  color: white;
}
h1 {
  width: 400px;
  margin-left: 230px;
  margin-right: auto;
  margin-top: 135px;
  display: flex;
  flex-direction: column;
  font-family: "Bebas Neue";
  color: transparent;
}
.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
  height: 50px;
  z-index: 1;
}
.foot-logo {
  height: 40px;
  width: 40px;
  border: 1px solid #414f6b;
  border-radius: 50%;
  margin-top: 5px;
}
.foot-items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
  width: 200px;
  color: #414f6b;
  font-family: "Lato:ital";
}
.foot-items li a {
  color: #414f6b;
  font-size: .87rem;
}
.foot-items li {
  margin-top: 15px;
}
.foot-wrapper {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo-and-la {
  display: flex;
  flex-direction: row;
  padding-bottom: 4px;
}
.la-mount {
  display: flex;
  flex-direction: column;
  margin-top: 8px;
  margin-left: 4px;
}
.foot-la {
  color: #4d4d4d;
  font-size: .87rem;
  display: block;
}
.foot-mount {
  color: #414f6b;
  font-size: 1rem;
  display: block;
  margin-top: -4px;
}
.history {
  background-image: url('./assets/2ndBackground.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.history-header {
  height: 20%;
}
.history-h2 {
  font-size: 1rem;
  font-family: "Oswald";
  margin-left: 180px;
  padding-top: 10px;
  position: relative;
  color: transparent;
}
.history-heading-img {
  margin-left: 244px;
  height: 70%;
}
.history-intro {
  margin-left: 295px;
  height: 25%;
  font-family: "Lato";
  max-width: 700px;
  margin-right: 100px;
  overflow: scroll;
}
.carousel {
  position: absolute;
  bottom: 0px;
  height: 18%;
  width: 100%;
}
.side-pic {
  height: 100%;
  width: auto;
  position: relative;
  opacity: .5;
  display: inline-block;
}
.side-pic:hover {
  opacity: 1;
  cursor: pointer;
}
.side-pic-selected {
  opacity: 1;
}
.pics-wrapper {
  margin-left: auto;
  margin-right: auto;
  height: 80%;
  width: 50%;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.bubble-selector-con {
  height: 5%;
  width: 60px;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.bubble {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: black;
  opacity: .3;
}
.bubble-selected {
  background-color: white;
  opacity: .5;
}
.main-pic-con {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba( 0, 0, 0, .5)
}
.close-pic {
  position: absolute;
  top: 20px;
  right: 30px;
  height: 30px;
  width: 10px;
}
.close-pic:hover {
  cursor: pointer;
}
.bar {
  display: block;
  height: 4px;
  width: 20px;
  border-radius: 6px;
  background-color: white;
}
.bar1 {
  transform: rotate(45deg);
}
.bar2 {
  transform: rotate(-45deg);
  margin-top: -4px;
}
.main-pic {
  height: 50%;
  width: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  display: block;
}
.hide-pic {
  display: none;
}
.team {
  height: 100vh;
}
.team-nav-header {
  background-color: #414f6b;
  width: 100%;
  height: 30px;
}
.team-ul {
  margin-left: 200px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  padding: 7px;
}
.m-choice{
  color: #b0b4be;
  margin-top: -6px;
  height: 100%;
  padding: 5px 20px 5px 20px;
}
.mount-selected {
  color: #414f6b !important;
  background-color: #b0b4be;
}
.team-ul li:hover {
  cursor: pointer;
}
.team-ul li:nth-child(2) {
  margin-left: 6px;
}
.mount-sched {
  background-color: #f0f2f5;
  width: 300px;
  margin-left: 250px;
  margin-top: 100px;
  padding-bottom: 20px;
}
table {
  margin-left: auto;
  margin-right: auto;
  font-family: "Lato";
}
.sched-h3 {
  font-family: "Oswald";
  color: #414f6b;
  margin-left: 36px;
  font-size: 2rem;
}
.climb-bg {
  background-image: url('./assets/3rdBackground.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 70%;
  padding-top: 1px;
  margin-top: 30px;
}
.sched-footer {
  height: 15%;
  width: 100%;
  background-color: #414f6b;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.sched-foot-img {
  height: 50%;
  width: auto;
  margin-top: 2.5%;
  padding-left: 10%;
}
.copyright {
  color: #63769d;
  font-family: "Lato";
  margin-top: 3.3%;
  padding-right: 10%;
}
.climb-heading-img {
  height: 70%;
  width: auto;
  display: block;
  margin-top: 2%;
  margin-left: 180px
}
.climb-h2 {
  color: transparent;
  margin-left: 0px;
}
.climb-p {
  align-self: center;
  margin-left: 30px;
  font-size: 1rem;
  font-family: "Lato";
  max-width: 700px;
  margin-right: 100px;
}
.team-header-con {
  height: 20%;
}
.team-header {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: start;
  overflow: scroll;
}

@media screen and (max-width: 450px) {
  .logo-and-la, .sched-foot-img {
    display: none;
  }
  .nav-items {
    flex-direction: column;
    width: 100px;
  }
  .copyright {
    display: block;
    margin-left: auto;
    margin-right: auto; 
    padding-right: 0px;
  }
  .foot-items{
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 370px) {
  .main-pic {
    height: 25%;
  }
  .mount-sched {
    margin-left: 10px !important;
  }
}
@media screen and (max-width: 510px) {
  .main-pic {
    height: 36%;
  }
}
@media screen and (max-width: 1000px) {
  .history-heading-img{
    margin-left: 1vw;
  }
  .climb-heading-img {
    margin-left: calc(1vw - 65px)
  }
  .history-intro {
    margin-left: 60px;
    margin-right: 1vw;
  }
  .team-ul {
    margin-left: 20px;
  }
  .mount-sched {
    margin-left: 40px;
  }
}
